* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    min-height: 100vh;
  }

  /*Tinder Profile*/

.page-one {
  background-color: #fd7e49;
  background-image: linear-gradient(#fa7552, #f97453, #ed6069, #e85478, #e6517b);
  margin: auto;
  text-align: center;
  }

  .data {
    font-family: 'New Tegomin', serif;
  }

  .tinder-container {
    background-color: rgb(235, 233, 233);
    width: auto;
    margin: auto auto 20px;
    padding: 15px 0px 20px 0px;
    display: inline-block;
  }

  .icon-chat {
    max-width: 50px;
    max-height: 50px;
    margin: 0px 10px 0px 75px;
  }

  .icon-settings {
  max-width: 50px;
  max-height: 50px;
  margin: 0px 75px 0px 10px;
  }

.icons-tinder {
  max-width: 150px;
  margin: 5px 20px 5px;
}

  .tinder-box {
    background-color: rgb(235, 233, 233);
    padding: 0px 0 35px 0;
    margin: 15px auto;
    background-attachment: fixed;
    max-width: 440px;
    border-radius: 24px;
    border-style: solid;
    border-color: black;
    box-sizing: content-box;
    border-width: thin;
    overflow: hidden;
    border-bottom: 5px rgb(49, 49, 49) double;
    border-right: 5px rgb(49, 49, 49) double;

  }

  .img-page-one {
    width: 100%;
    height: auto;
  }

  .name-age {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
  }

  .caption-location {
    color: rgb(95, 92, 92);
    font-size: 15px ;
    text-align: left;
    margin: 0px 5px 15px 5px;
  }

  .caption-tinder {
    color: rgb(87, 86, 86);
    max-width: 400px;
    text-align: left;
    margin-left: 10px;
  }


  .small-button {
    display: inline-block;
    background-color: rgb(235, 233, 233);
    width: 75px;
    height: 75px;
    padding: 8px;
    border-style: solid;
    border-radius: 100%;
    border-color: rgb(114 153 224 / 15%);
    border-width: 10px;
    margin-bottom: 45px;
  }

  .reload {
    display: block;
    max-width: 40px;
    max-height: 40px;
  }

  .big-button {
    display: inline-block;
    background-color: rgb(235, 233, 233);
    max-width: 95px;
    max-height: 95px;
    padding: 10px;
    border-style: solid;
    border-radius: 100%;
    border-color: rgb(114 153 224 / 15%);
    border-width: 10px;
    margin: 0px 6px;    
  }

  .b-button {
    display: block;
    max-width: 60px;
    max-height: 60px;
  }

  .super-like {
    display: block;
    max-width: 40px;
    max-height: 40px;
  }

  /*It's a Match*/
  
  .match {
    max-height: 100vh;
    max-width: 100vh;
    background-image: url(../images/images-match/background-match.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

  .deu-match {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }
  
  .match-text {
    margin: 50px 28vw 20px;
    width: 550px;
  }

  .match-phrase {
    color: rgb(248, 237, 237);
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif ;
    text-align: center;
  }

  .match-photo-will {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    margin: 20px 20px 75px 34vw;
  }

  .match-photo-maria {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 75px ;
    margin-top: 20px;
  }

  .continue-button {
    background: linear-gradient(90deg, rgba(253,126,73,1) 0%, rgba(237,96,105,1) 70%, rgba(230,81,123,1) 100%);
    width: 300px;
    height: 100px;
    border-radius: 25px;
    text-decoration: none;
    color:  rgb(248, 237, 237);
    padding: 12px 50px;
    font-size: 14px;
    margin-left: 42vw;
    margin-top: 50px;
  }

  .continue-button:hover {
    color: rgb(61, 55, 55);
    transition: .2s;
  }

  /*Chat*/
  .body-chat {  
    background-color: #fd7e49;
    background-image: linear-gradient(#fa7552, #f97453, #ed6069, #e85478, #e6517b);
    height: 100vh;
    width: 100vw;
  }

  .chat-container {
  background-color: rgb(235, 233, 233);
  height: fit-content;
  width: fit-content;
  display: flex;
  margin: auto;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 4px solid rgb(114 153 224 / 15%); 
  }

  .arrow-triangle {
    padding: 20px;
    box-shadow: 3px -3px 0 2px #f06463 inset;
    border: solid transparent;
    border-width: 0 0 42px 41px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    margin-top: 26px;
    padding-left: 15px;
    display: flex;
    justify-content: start;
  }

  .arrow-retangle {
    width: 60px;
    height: 4px;
    background: #f06463;
    display: flex;
    margin-left: -34px;
    margin-top: 66px;
  }

  .profile-chat {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 15px;
  }

  .chat-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 50px 10px 10px 26px;
  }

  .dots {
    font-size: 60px;
    margin-left: 160px;
    margin-top: 45px;
  }

  .menu-chat {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 4px 0px 4px 0px;
    background-color: #f06463;
  }

  .chat-body {
    background-color: rgb(235, 233, 233);
    height: fit-content;
    width: auto;
    padding: 50px 20px;
    margin: 0px 441px;
  }

  .date-chat {
    padding: 0 10px 10px;
    color: rgb(131, 127, 127);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    text-align: center;
  }

  .first-message {
    background-color: #e5e5e5;
    color: rgb(131, 127, 127);
    border-radius: 25px 25px 25px 0px ;
    width: fit-content;
    padding: 12px;
  }

  .first-answer {
    background-color: #21b9fc;
    color: rgb(235, 233, 233);
    border-radius: 25px 25px 0px 25px;
    max-width: 280px;
    padding: 12px;
    margin-left: 320px;
  }