* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    min-height: 100vh;
  }

  /*Tinder Profile*/

.page-one {
  background-color: #fd7e49;
  background-image: linear-gradient(#fa7552, #f97453, #ed6069, #e85478, #e6517b);
  margin: auto;
  text-align: center;
  }

  .data {
    font-family: 'New Tegomin', serif;
  }

  .tinder-container {
    background-color: rgb(235, 233, 233);
    max-width: 500px;
    margin: auto;
    padding: 15px 0px 160px 0px;
    display: inline-block;
  }

  .icon-chat {
    max-width: 50px;
    max-height: 50px;
    margin: 0px 10px 0px 75px;
  }

  .icon-settings {
  max-width: 50px;
  max-height: 50px;
  margin: 0px 75px 0px 10px;
  }

.icons-tinder {
  max-width: 150px;
  margin: 5px 20px 5px;
}

  .tinder-box {
    background-color: rgb(235, 233, 233);
    padding: 0px 0 35px 0;
    margin: 15px auto;
    background-attachment: fixed;
    max-width: 440px;
    border-radius: 24px;
    border-style: solid;
    border-color: black;
    box-sizing: content-box;
    border-width: thin;
    overflow: hidden;
    position: relative;
  }

  .img-page-one {
    width: 100%;
    height: auto;
  }

  .name-age {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
  }

  .caption-location {
    color: rgb(95, 92, 92);
    font-size: 15px ;
    text-align: left;
    margin: 0px 5px 15px 5px;
  }

  .caption-tinder {
    color: rgb(87, 86, 86);
    max-width: 400px;
    text-align: left;
    margin-left: 10px;
  }

